@model ClassWork3.Models.Staff

@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>

<p>
    @Model.FirstName
</p>
<p>
    @Model.LastName
</p>
<p>
    @Model.Patronymic
</p>
<p>
    @Model.BirthDay
</p>


